.card-content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comment-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-id{
    font-size: 7px;
    font-weight: bold;
    color: blueviolet;
}

