.all-projects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}